<div class="w-11/12 md:w-10/12 xl:w-9/12 mx-auto py-10">

    <div class="w-full flex justify-around">
        <!-- Tarjetita -->
        <button [routerLink]="['/home/nivel-1']"
            class="mt-5 mx-5 bg-gradient-to-b from-red-800 to-purple-800 w-[200px] h-[200px] rounded-md shadow-xl hover:from-purple-800 focus:from-purple-800">
            <div class="text-black p-3 text-center font-bold text-sm">
                Nivel 1
            </div>
            
            <div
                class="text-black text-center mx-auto border-2 border-gray-300 rounded-md w-[150px] h-[140px] font-bold text-sm">
                <!-- Imagen o icono para la tarjeta -->
                <div class="bg-purple-500 px-2 py-1.5 lg:px-4 lg:py-2.5 mb-2 text-black font-bold text-xs leading-tight uppercase rounded shadow-md ">
                    Novato
                </div>
                <div>
                    componente de resumen de resultados 
                </div>
            </div>
        </button>

        <!-- Tarjetita -->
        <button [routerLink]="['/home/nivel-2']"
            class="mt-5 mx-5 bg-gradient-to-b from-red-800 to-purple-800 w-[200px] h-[200px] rounded-md shadow-xl hover:from-purple-800 focus:from-purple-800">
            <div class="text-black p-3 text-center font-bold text-sm">
                Nivel 2
            </div>
            <div
                class="text-black text-center mx-auto border-2 border-gray-300 rounded-md w-[150px] h-[140px] font-bold text-sm">
                <!-- Imagen o icono para la tarjeta -->
                <div class="bg-purple-500 px-2 py-1.5 lg:px-4 lg:py-2.5 mb-2 text-black font-bold text-xs leading-tight uppercase rounded shadow-md ">
                    Avanzado
                </div>
                <div>
                    Formulario de varios pasos
                </div>
            </div>
        </button>

        <!-- Tarjetita -->
        <button [routerLink]="['/home/nivel-3']"
            class="mt-5 mx-5 bg-gradient-to-b from-red-800 to-purple-800 w-[200px] h-[200px] rounded-md shadow-xl hover:from-purple-800 focus:from-purple-800">
            <div class="text-black p-3 text-center font-bold text-sm">
                Nivel 3
            </div>
            <div
                class="text-black text-center mx-auto border-2 border-gray-300 rounded-md w-[150px] h-[150px] font-bold text-sm">
                <!-- Imagen o icono para la tarjeta -->
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="mt-5 mx-auto w-[100px] h-[100px]">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
                    </svg>

                </div>
            </div>
        </button>

        <!-- Tarjetita -->
        <button [routerLink]="['/home/nivel-4']"
            class="mt-5 mx-5 bg-gradient-to-b from-red-800 to-purple-800 w-[200px] h-[200px] rounded-md shadow-xl hover:from-purple-800 focus:from-purple-800">
            <div class="text-black p-3 text-center font-bold text-sm">
                Nivel 4
            </div>
            <div
                class="text-black text-center mx-auto border-2 border-gray-300 rounded-md w-[150px] h-[150px] font-bold text-sm">
                <!-- Imagen o icono para la tarjeta -->
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="mt-5 mx-auto w-[100px] h-[100px]">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
                    </svg>

                </div>
            </div>
        </button>


    </div>

</div>