<form class="p-5 w-full h-full  rounded-xl">
    <!-- Textos -->
    <div class="mt-5">
        <div class="font-semibold text-3xl">
            Finalizar
        </div>
        <div class="mt-2 text-sm font-semibold opacity-70">
            Verifique sus datos antes de confirmar 
        </div>
    </div>
    <!-- Formulario -->
    <div class="mt-7">
        <div class="w-full md:w-10/12">
            <div class="w-full grid grid-cols-6 grid-rows-2 rounded-t-md font-semibold text-sm p-2 bg-blue-100  mt-5">
                <div class="text-start mx-5 col-span-5">
                    {{plan}} ({{duracionDelPlan}})
                </div>
                <button [routerLink]="['/home/nivel-2/select-plan']" class="border-b border-black text-start mx-5 row-start-2 col-start-1 col-span-6 opacity-70 flex">
                    Cambiar
                </button>
            </div>
            <div *ngIf="servicioEnLinea == true" class="w-full grid grid-cols-6 grid-rows-2  font-semibold text-sm p-1 bg-blue-100">
                <div class="col-span-4 mx-5">
                    Servicio online
                </div>
                <div class="mx-5">
                    +1/{{duracionDelPlan}}
                </div>
            </div>

            <div *ngIf="almacenamiento == true" class="w-full grid grid-cols-6 grid-rows-2  font-semibold text-sm p-1 bg-blue-100">
                <div class="col-span-4 mx-5">
                    Almacenamiento grande
                </div>
                <div class="mx-5">
                    +5/{{duracionDelPlan}}
                </div>
            </div>

            <div *ngIf="perfilPersonalizable == true" class="w-full grid grid-cols-6 grid-rows-2  font-semibold text-sm p-1 bg-blue-100">
                <div class="col-span-4 mx-5">
                    Perfil personalizable
                </div>
                <div class="mx-5">
                    +5/{{duracionDelPlan}}
                </div>
            </div>

            <div class="w-full grid grid-cols-6 grid-rows-2  font-semibold text-md p-1 mx-5">
                <div class="col-span-4">
                    Total ({{duracionDelPlan}})
                </div>
                <div class="">
                    {{precioDelPlan}}/{{duracionDelPlan}}
                </div>
            </div>

            
        </div>
    </div>
    <!-- Boton de Siguiente -->
    <div *ngIf="precioDelPlan > 9" class="w-10/12 h-[90px] relative invisible md:visible">
        <button type="submit"  [routerLink]="['/home/nivel-2/summary']" class="absolute bottom-[0px] right-[0px] bg-blue-900 text-white font-semibold text-sm p-2 rounded-md hover:bg-blue-800">
            Confirmar 
        </button>
    </div>
</form>


<div class="flex">
    <div class="w-full mt-5 flex justify-start  bg-white p-4 relative visible md:invisible ">
        <button [routerLink]="['/home/nivel-2/add-ons']" class="text-sm font-semibold opacity-70 my-auto">
            Volver
        </button>
    </div>
    <div class="w-full mt-5 flex justify-end  bg-white p-4 relative visible md:invisible">
        <button [routerLink]="['/home/nivel-2/summary']"
            class="  bg-blue-900 text-white font-semibold text-sm p-2 rounded-md hover:bg-blue-800">
            Confirmar
        </button>
    </div>
</div>